$primary-color: #9356DC;
$secondary-color: #FF79DA;
$gray-color-bold:#353535;
$gray-color: #4f5152;
$light-gray-color: #e2e2e2;
$light-gray-color2: #f6f6f6;
$light-green-color: #99E2D0;
$green-color: #008766;
$blue-card-order-colo: #89c8fa;
$border-radius: 20px;
$btn-color-light:  linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
$btn-color-normal: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);