@import 'colors.scss';
@import 'fonts.scss';

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

body{
    @include flex-center;
}

.main-container{
   max-width: 1440px; 
}

.function{
    padding-right: 50px;
    h2{
        margin-left: 52px;
        margin-top: 16px;
    }

    .function-cards{
      margin-top: 40px; 
      margin-left: 40px; 
    }
}

.restaurants{
    h2{
        width: 85%;
        margin: 15px 0;
        padding-left: 22px;
    }

    .restaurants-cards{
        width: 90%;
        padding-bottom: 15px;

        .card{
            flex: 0 1 45%;
        }
    }
}

footer{
    .logo{
        margin-right: 70px;
    }
}