
@import 'fonts.scss';

/*** Variables ***/

  /* colors */

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$gray-color-bold:#353535;
$gray-color: #4f5152;
$light-gray-color: #e2e2e2;
$light-gray-color2: #f6f6f6;
$light-green-color: #99E2D0;
$green-color: #008766;
$blue-card-order-colo: #89c8fa;
$border-radius: 20px;

  /* fonts */ 



/*** Mixins ***/

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*** Base ***/

  *{
    padding: 0;
    margin: 0;
    text-decoration: none;
  }

  body{
    font-family: 'Roboto', sans-serif;
  }

  /*header*/

  header{
    @include flex-center;
    flex-direction: column;
    height: 102px;
   
    
  
    .logo {
      @include flex-center;
      width: 100%;
      height: 56px;
      margin: 0;
    }

    img{
      width: 168px;
    }
  
    nav {
      @include flex-center;
      background-color: $light-gray-color;
      width: 100%;
      height: 45px;
    }
      p {
        font-family:  $font-roboto-medium;
        line-height: 16px;
      }
  
      .fa-location-dot {
        font-size: 1rem;
        margin-right: 1rem;
      }
    }

    /* Info section */
.info-groupe {
  @include flex-center;
  flex-direction: column;
  height: 280px;
  background-color: $light-gray-color2;

  .info-title {
    @include flex-center;
    text-align: center;
    flex-direction: column;
    padding: 2rem;
    padding-top: 0;

    h2 {
      @include flex-center;
      font-family: $font-roboto-bold;
      font-size: 24px;
      width: 275px;
      margin-bottom: 10px;
      margin-top: 0;
    }

    p {
      font-family: $font-roboto-light;
      font-size: 17px;
    }
  }

  .btn {
    @include flex-center;
    background: linear-gradient(193.33deg, $primary-color -11.44%, $secondary-color 123.93%);
    border-radius: 25px;
    color: #fff;
    font-weight: 500;
    border: none;
    width: 218px;
    height: 50px;
    margin: 0 32px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

    a{
      color: #fff;
      font-size: 16px;
    }

    p {
      font-size: 16px;
    }
  }
}

/* function */

.function {
  background-color: #fff;
  padding: 1rem;
  margin: 1rem;
  height: 368px;
  margin-top: 20px;

  .function-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    margin-top: 20px;
    

    .card {
      background-color: $light-gray-color2;
      height: 80px;
      border-radius: 1.5rem;
      margin-bottom: 2rem;
      width: 100%;
      display: flex;
      align-items: center;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

      span {
        position: absolute;
        display: flex;
        width: 24px;
        height: 24px;
        justify-content: center;
        align-items: center;
        border-radius: 1.5rem;
        color: #fff;
        background-color: $primary-color;
        left: 20px;
      }

      .card-content {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        height: 70px;
        width: 100%;
        justify-content: center;

        p {
          margin-left: 2.5rem;
          font-weight: 500;
        }

        .fa-solid{
          color: #7e7e7e;
        }
      }
    }
  }

}

// Styles pour la section des restaurants
.restaurants {
  @include flex-center;
  flex-direction: column;
  margin-bottom: 60px;
  background-color: $light-gray-color2;

  h2 {
    width: 88%;
    margin-bottom: 15px
  }

  .restaurants-cards {
    @include flex-center;
    flex-wrap: wrap;
    background-color: $light-gray-color2;
   

    .card {
      @include flex-center;
      flex-direction: column;
      width: 340px;
      height: 251px;
      padding: 0;
      position: relative;
      background-color: #fff;
      margin: 10px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      border-radius: 15px;

      a {
        // Styles spécifiques pour le lien
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
      }

      img {
        width: 100%;
        padding: 0;
        height: 174px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
      }

        // Styles spécifiques pour le bouton "Nouveau"
        button{
          margin: 10px;
          width: 80px;
          height: 29px;
          right: 10px;
          font-size: 14px;
          font-weight: bold;
          color: $green-color;
          background-color: $light-green-color;
          border: none;
          position: absolute;
      }
      

      .card-text {
        width: 90%;
        display: flex;
        flex-direction: column;
        height: 77px;
        align-items: flex-start;
        color: #000;

        h3 {
          font-size: 18px;
          margin-bottom: 0;
          margin-top: 14px;
        }

        p {
          margin: 0;
          margin-top: 5px;
        }
      }

      .fa-heart {
        font-size: 1.5rem;
        color: #ea8add;
        position: absolute;
        top: 200px;
        right: 20px;
      }
    }
  }
}

// section footer

footer {
  background-color: $gray-color-bold; 
  flex-direction: column;
  padding: 30px;
  width: 100%;

  .logo {
    width: 100px; 
    filter: brightness(0) invert(1); 
    margin: 5px 0;
    object-fit: cover;
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 10px 0;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      color: #fff;

      i {
        margin-right: 5px;
        font-size: 12px;
      }
    }
  }
}

 

    
