@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("path/to/Roboto-Regular.woff2") format("woff2"), url("path/to/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("path/to/Roboto-Medium.woff2") format("woff2"), url("path/to/Roboto-Medium.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("path/to/Roboto-Bold.woff2") format("woff2"), url("path/to/Roboto-Bold.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("path/to/Roboto-Light.woff2") format("woff2"), url("path/to/Roboto-Light.woff") format("woff");
}
/*** Variables ***/
/* colors */
/* fonts */
/*** Mixins ***/
/*** Base ***/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

/*header*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 102px;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  margin: 0;
}
header img {
  width: 168px;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e2e2;
  width: 100%;
  height: 45px;
}
header p {
  font-family: "Roboto", sans-serif;
  line-height: 16px;
}
header .fa-location-dot {
  font-size: 1rem;
  margin-right: 1rem;
}

/* Info section */
.info-groupe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 280px;
  background-color: #f6f6f6;
}
.info-groupe .info-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 2rem;
  padding-top: 0;
}
.info-groupe .info-title h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  width: 275px;
  margin-bottom: 10px;
  margin-top: 0;
}
.info-groupe .info-title p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}
.info-groupe .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
  color: #fff;
  font-weight: 500;
  border: none;
  width: 218px;
  height: 50px;
  margin: 0 32px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.info-groupe .btn a {
  color: #fff;
  font-size: 16px;
}
.info-groupe .btn p {
  font-size: 16px;
}

/* function */
.function {
  background-color: #fff;
  padding: 1rem;
  margin: 1rem;
  height: 368px;
  margin-top: 20px;
}
.function .function-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  margin-top: 20px;
}
.function .function-cards .card {
  background-color: #f6f6f6;
  height: 80px;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.function .function-cards .card span {
  position: absolute;
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  color: #fff;
  background-color: #9356DC;
  left: 20px;
}
.function .function-cards .card .card-content {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  height: 70px;
  width: 100%;
  justify-content: center;
}
.function .function-cards .card .card-content p {
  margin-left: 2.5rem;
  font-weight: 500;
}
.function .function-cards .card .card-content .fa-solid {
  color: #7e7e7e;
}

.restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f6f6f6;
  height: 1245px;
}
.restaurants h2 {
  width: 88%;
  margin-bottom: 15px;
}
.restaurants .restaurants-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f6f6f6;
}
.restaurants .restaurants-cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 340px;
  height: 251px;
  padding: 0;
  position: relative;
  background-color: #fff;
  margin: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.restaurants .restaurants-cards .card a {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.restaurants .restaurants-cards .card img {
  width: 100%;
  padding: 0;
  height: 174px;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .restaurants-cards .card button {
  margin: 10px;
  width: 80px;
  height: 29px;
  right: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #008766;
  background-color: #99E2D0;
  border: none;
  position: absolute;
}
.restaurants .restaurants-cards .card .card-text {
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 77px;
  align-items: flex-start;
  color: #000;
}
.restaurants .restaurants-cards .card .card-text h3 {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 14px;
}
.restaurants .restaurants-cards .card .card-text p {
  margin: 0;
  margin-top: 5px;
}
.restaurants .restaurants-cards .card .fa-heart {
  font-size: 1.5rem;
  color: #ea8add;
  position: absolute;
  top: 200px;
  right: 20px;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
footer .logo {
  width: 30%;
  filter: brightness(0) invert(1);
}
footer .footer-menu {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}
footer .footer-menu li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: #fff;
}
footer .footer-menu li i {
  margin-right: 5px;
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */