@import 'fonts.scss';
@import 'colors.scss';

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  body{
    max-width: 1024px;
  }
  
  .hero-section{
    object-fit: cover;
  }

  .entrees-plats-and-desserts{
    width: 70%;
    margin: 32px 130px;

    .main-title{
      display: flex;
      justify-content: center;

      h2{
        margin: 24px;
      }
    }

  }

  footer{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding: 0;

    .logo {
        max-width: 100px; 
        margin-right: 20px;
        margin-left: 45px;
        margin-top: 1rem;
      }

      .footer-menu{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 2rem;

        li{
            margin-right: 10px;
            font-size: 14px;
        }
    }
  }

  