@import 'fonts.scss';
@import 'colors.scss';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  max-width: 1024px;
  margin: 0 auto;
}

.hero-section {
  object-fit: cover;
}

.entrees-plats-and-desserts {
  width: 80%;
  margin: 0 auto;
  margin-top: -30px;

  .main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 13px;

    h2{
      margin-right: 75px;
    }
  }

  .box {
    width: 80%;
    &__menu {
      &__title {
        margin-left: 20px;
      }
    }

    h2 {
      margin: 24px;
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  width: 100%;
  padding: 0;

  .logo {
    max-width: 100px;
    margin-right: 50px;
    margin-left: 45px;
    margin-top: 1rem;
  }

  .footer-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 2rem;

    li {
      margin-right: 10px;
      font-size: 14px;
    }
  }
}



  
  